.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgb(133, 162, 200);
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 1px 3px 0px #000000;
}

.nav {
    display: flex;
    width: 540px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}